/*Make Played Indicator into Ribbon LHS*/
.playedIndicator i, .syncIndicator i {font-size: 150%; transform: rotate(45deg);}
.card .playedIndicator, .card .countIndicator {
  top: 4px; 
  right: -21px !important; 
  width: 75px; 
  height: 25px; 
  border-radius: 0%; 
  transform: rotate(45deg); 
  background: inherit; 
  border-style: solid; 
  border-width: 0px; 
  border-color: rgba(255, 255, 255, 0.5);
} */

.card .indicators {right: initial !important; top: 22px !important; left: -27px !important;}
.cardIndicators {right: initial !important; top: 22px !important; left: -27px !important;}



